* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --theme-bg: linear-gradient(87deg, #ee3f30, rgb(238 63 48 / 25%), rgb(229 9 20 / 0%));
}
ul {
    padding: 0 !important;
    margin: 0 !important;
}
li {
    padding: 0;
    margin: 0;
}
.text-green {
    color: #3ddab4;
}
.theme-bg {
    background: linear-gradient(87deg, #ee3f30, rgb(238 63 48 / 25%), rgb(229 9 20 / 0%)) !important;
}
body {
    font-family: "Poppins", sans-serif;
    /* font-family: 'Syne', sans-serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #171923;
}
body #main {
    margin-left: 300px;
    min-height: 100vh;
    padding: 2rem;
}
.logo-name {
    color: #ee3f30;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Unbounded", cursive;
}
.burger-btn i {
    height: 40px !important;
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.card-left {
    float: left;
    flex: 1;
}
.btn {
    border: 0 !important;
}
th {
    font-weight: 600 !important;
    color: #fff;
}
.custom_img {
    box-shadow: 0px 1px 4px #727272;
}
a.video_show_link {
    height: 50px;
    width: 50px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.video_show_link i {
    display: flex;
    align-items: center;
    justify-content: center;
}
audio::-webkit-media-controls-panel {
    background-color: #5ddab4;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.music_image span {
    margin-left: 15px;
}
#musicimg,
#edit_musicimg {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 11px #4c4c4c;
    height: 140px;
    width: 140px;
    margin-bottom: 10px;
}
body .form-group label {
    color: #c2c2d9;
    font-weight: 400 !important;
    font-size: 14px !important;
    letter-spacing: 0.4px !important;
}
#category-table img {
    object-fit: cover;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked+.slider {
    background: var(--theme-bg);
}
input:focus+.slider {
    box-shadow: 0 0 1px var(--theme-bg);
}
input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    -moz-transform: translateX(22px);
    -o-transform: translateX(22px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.login_bg_image {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.login_bg_image img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.login_inner {
    height: auto;
    min-height: 100vh;
}
.login_inner_right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrolling-image-container {
    overflow: hidden;
    position: relative;
}
.scrolling-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: #151521bd; */
    z-index: 9;
}
.sliding-background {
    background: url(../img/login_bg.jpg) repeat-x;
    height: 100%;
    min-height: 100vh;
    width: 3000px;
    animation: slide 120s linear infinite;
    -webkit-animation: slide 120s linear infinite;
}
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(-400px, 0, 0);
        -webkit-transform: translate3d(-400px, 0, 0);
        -moz-transform: translate3d(-400px, 0, 0);
        -ms-transform: translate3d(-400px, 0, 0);
        -o-transform: translate3d(-400px, 0, 0);
    }
    50% {
        transform: translate3d(-800px, 0, 0);
        -webkit-transform: translate3d(-800px, 0, 0);
        -moz-transform: translate3d(-800px, 0, 0);
        -ms-transform: translate3d(-800px, 0, 0);
        -o-transform: translate3d(-800px, 0, 0);
    }
    75% {
        transform: translate3d(-400px, 0, 0);
        -webkit-transform: translate3d(-400px, 0, 0);
        -moz-transform: translate3d(-400px, 0, 0);
        -ms-transform: translate3d(-400px, 0, 0);
        -o-transform: translate3d(-400px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
    }
}
.login_logo a {
    font-size: 60px;
}
.login_logo img {
    width: 100%;
    max-width: 80px;
}
.login_inner_form {
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login_inner_form form {
    background-color: #15152140 !important;
    backdrop-filter: blur(14px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.login_inner_form form .form-label {
    color: #fff;
}
.login_logo .logo-name {
    font-weight: 700;
}
.login-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.user_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}
div.dataTables_processing>div:last-child>div {
    background: rgb(93 218 180);
}
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    color: #fff;
}
.dataTables_wrapper .dataTables_length select option {
    color: #000000;
}
table {
    width: 100% !important;
}
.card .card-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-header-border::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    background: linear-gradient(87deg, #ee3f30, rgb(238 63 48 / 25%), rgb(229 9 20 / 0%)) !important;
    height: 2px;
}
.select2-container {
    display: inline-block !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #1b1b29;
    border: 1px solid #35354f;
    border-radius: 0.25rem;
    color: #c2c2d9;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding-bottom: 0;
    padding-right: 0;
}
.select2-container .select2-selection--multiple {
    min-height: 35px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color: transparent;
    border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-right: 5px;
    background-color: #000000;
    border: 1px solid #000;
}
.select2-dropdown {
    background-color: #0e0e20;
    border: 1px solid #1b1b29;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: var(--theme-bg);
    color: white;
}
.select2-container--default .select2-results__option--selected {
    background-color: #000;
}
.object-cover {
    object-fit: cover;
    object-position: center;
}
.selectric {
    border: 1px solid #35354f;
    background: #1b1b29;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.selectric-hover .selectric,
.selectric-open .selectric {
    border-color: #35354f;
}
.selectric .button {
    background-color: #1b1b29;
}
.selectric .label {
    color: #ffffff;
    font-size: 16px;
}
.selectric-items {
    background: #ffffff;
    border: 1px solid #35354f;
}
.selectric-items li.selected {
    background: #0d0d14;
    color: #fff;
}
.selectric-items li:hover {
    background: #0d0d14;
    color: #fff;
}
.selectric-items li {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
body.theme-dark .nav-tabs,
body.theme-dark .nav-tabs .nav-link {
    font-weight: 600;
}
body.theme-dark .nav-tabs .nav-link.active {
    background: #fff;
    color: #000;
}
.action {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
.btn:focus {
    box-shadow: none !important;
}
body.theme-dark .dropdown-menu.detail-dropdown.show {
    display: block;
    width: 100%;
    min-width: 183px;
    border-radius: 0 !important;
    background: #171923;
}
.dropdown-menu.detail-dropdown .dropdown-item {
    padding: 8px 12px;
}
.btn.border {
    border: 1px solid #fff !important;
}
body.theme-dark .stats-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: transparent;
    display: none;
}
body.theme-dark .stats-icon i {
    color: #fff;
    font-size: 120px !important;
    opacity: 0.2;
}
body.theme-dark .dashboard-page .card .card-body {
    overflow: hidden;
    position: relative;
}
.episode_section {
    display: none;
}
#season_action {
    display: none;
}
body.season_added .episode_section {
    display: block;
}
body.season_added #season_action {
    display: flex;
}
.season-select .selectric {
    border-radius: 0 !important;
}
.season-select .selectric .label {
    height: 41px;
    line-height: 41px;
}
.season-select .selectric-items li.disabled {
    padding: 2px 10px;
    background: #000 !important;
}
.profile_image {
    width: 100px;
    height: 100px;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 50px;
    z-index: 1;
    top: 0px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input+label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #171923;
    border: 0px solid #ee3f30;
    box-shadow: 0px 2px 7px 1px #171923;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    padding: 4px 4px;
    transition: 0.5s all;
}
.avatar-upload .avatar-edit input+label svg {
    display: block;
    width: 20px;
    height: 20px;
    stroke: #ee3f30;
}
.avatar-upload .avatar-edit input+label:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px rgb(238 63 48);
    background: #fff;
    transition: 0.5s all;
}
.avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 3px solid #ee3f30;
    box-shadow: 0px 0px 7px 0px rgb(238 63 48);
}
.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



input:-webkit-autofill {
    color: red !important;
}